/* Reset */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    padding: 1rem;
    background: no-repeat center center fixed;
    background-color: #2d2d2d;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 50px #616161;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    transition: 0.4s ease;
}

/* Layout */
main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bigdiv {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

/* Crypto section */
.crypto-div {
    left: 1rem;
    height: fit-content;
    width: fit-content;
    background-color: #00000040;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: background-color 0.1s ease;
    transform: translateZ(0);
}

.crypto-div:hover {
    background-color: #000000a0;
}

.coin-btn {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.5rem 1rem;
    color: white;
    text-shadow: 0px 0px 50px #616161;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
    transform: translateZ(0);
}

.coin-btn:after {
    content: '\002B';
    margin-left: 1rem;
    color: #FFF;
    font-size: 1.5em;
}

.active:after {
    content: '\2212';
}

.active, 
.coin-btn:hover {
    background-color: #00000060;
}

.coin-icon {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.coin-content {
    padding-left: 58px;
    background-color: #00000060;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    transition: max-height 0.15s ease-out;
    transform: translateZ(0);
}

.crypto-info {
    margin-top: 0;
}

/* Weather section */
.weather-div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    padding: 1rem 1.5rem;
    text-shadow: 0px 0px 10px #616161;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    transform: translateZ(0);
}

.weather-div:hover {
    background-color: #000000a0;
}

.weather-location {
    margin: 0;
    font-size: 1.5rem;
}

.weather-img {
    max-width: 100px;
    max-height: 100px;
}

.weather-img-none {
    width: 50px;
    height: auto;
    margin-bottom: 1em;
}

.image-temps {
    display: flex;
    align-items: center;
}

.temp-text {
    font-size: 2rem;
    margin: 0;
}

.weather-description {
    font-size: 1rem;
    margin: 0;
}

/* Center section */
.center {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    flex: 1;
}

.right-mid {
    display: flex;
    justify-content: right;
}

.left-bottom,
.right-mid {
    min-width: 325px;
}

.lowercenter,
.uppercenter {
    flex: 1;
}

.uppercenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-and-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    text-align: center;
    border-radius: 8px;
    cursor: default;
    transition: 0.3s ease;
    padding: 0;
}

.lowercenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1rem;
}

.lowercenter a {
    text-decoration: none;
    color: unset;
}

/* Quote styles */
.quote {
    display: inline-block;
    max-width: 500px;
    padding: 2rem;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-shadow: 0px 0px 10px #2d2d2d;
    border-top: #E0CA3C solid 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 8px;
}

.trumpTitle {
    font-size: 0.75rem;
}

.signed {
    width: 100%;
    margin-top: 1.5rem;
    text-align: right;
    display: inline-block;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.current-time {
    font-size: 5rem;
}

/* Footer */
.footer {    
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: none;
}

.author,
.made-by,
.settings-info {
    flex: 1;
}

.made-by {
    text-align: center;
}

.footer a {
    color: rgba(255, 255, 255, 0.9);
}

.footer a:hover {
    color: rgb(255, 255, 255);
}

.footer p {
    margin: 0;
}

/* Settings */
.settings-info {
    display: flex;
    gap: 2rem;
    justify-content: right;
    align-items: center;
}

.settings-info button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: color 0.2s ease;
    will-change: color;
}

.settings-info button:hover {
    color: rgba(255, 255, 255);
}

.fa-gear {
    transition: transform 0.2s ease;
    will-change: transform;
}

.settings-info button:hover .fa-gear {
    transform: rotate(180deg);
    color: rgba(255, 255, 255);
}

/* Modal styles */
.info-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    width: fit-content;
    color: #FFF;
    background-color: #ffffff72;
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
    border-radius: 8px;
}

.info-modal h2 {
    margin: 0;
}

.info-modal div img {
    height: 40px;
    margin-right: 1rem;
}

.credit-logo {
    display: flex;
    align-items: center;
}

.credit-logo a {
    color: unset;
}

.last-updated {
    font-size: 0.7rem;
    font-style: italic;
    align-self: center;
}

.last-updated-date {
    color: #616161;
}

.blurred {
    filter: blur(10px);
    transition: filter 0.2s ease;
}

.body-blurred {
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
    transition: backdrop-filter 0.2s ease;
}

.devpic {
    border-radius: 50%;
}

/* Options modal */
.options-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    min-width: 500px;
    min-height: 500px;
    width: fit-content;
    color: #2d2d2d;
    background-color: #ffffff72;
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
    border-radius: 8px;
}

.options-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.options-modal-title .fa-circle-xmark {
    font-size: 1.5rem;
    cursor: pointer;
}

.options-modal-title .fa-circle-xmark:hover {
    color: #616161;
}

.options-modal h2 {
    margin: 0;
}

.upper-options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.save-setting-btn {
    width: 50%;
}

label {
    margin-bottom: 0.5rem;
    padding: 0 2px;
}

select {
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 2px 5px 0px 5px;
    background-color: white;
    border: solid 1px #ced4da;
    border-radius: 8px;
    position: relative;
}

.show-modal {
    display: flex;
    transition: 0.2s ease;
}

#crypto_list_chosen {
    width: 100%;
}

.settings-saved {
    position: absolute;
    inset-inline: 0;
    width: 300px;
    margin-inline: auto;
    text-align: center;
    background-color: #008f1f7a;
    border: 1px solid #00ff37;
    border-radius: 8px;
    transform: translateY(-150px);
    transition: transform 0.3s ease;
}